.hero-image {
  transform-origin: center;
  animation: zoomInOut 20s ease-in-out infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hero-image-container {
  transform-origin: center;
  transition: transform 0.1s ease-out;
}

.hero-image-zoom {
  transform: scale(1.1);
}

/* Oculta la barra de scroll en todos los navegadores */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;     /* Firefox */
} 